development:
  sessions:
    default:
      database: db
      hosts:
        - localhost:27017

production:
  sessions:
    default:
      database: dashboard
      hosts:
        <% if ENV['OPENSHIFT_MONGODB_DB_HOST'] %>
        - <%= ENV['OPENSHIFT_MONGODB_DB_HOST'].to_s + ':' + ENV['OPENSHIFT_MONGODB_DB_PORT'].to_s %>
        <% end %>
      username: <%= ENV['OPENSHIFT_MONGODB_DB_USERNAME'] %>
      password: <%= ENV['OPENSHIFT_MONGODB_DB_PASSWORD'] %>
