<div class="table-container">

  <section class="container-fluid"> 

    <div class="row col-xs-5"> 
      <h2>My Bugzilla's</h2>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>PM Score</th>
            <th>Bugzilla</th>
            <th>Redmine</th>
            <th></th>
            <th>Status</th>
            <th>Summary</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="bug in dashboard.bugs | orderBy:'-cf_pm_score'">
            <td>{{ bug.cf_pm_score }}</td>
            <td>
              <a target="_blank" ng-href="https://bugzilla.redhat.com/show_bug.cgi?id={{ bug.id }}">{{ bug.id }}</a>
            </td>
            <td>
              <a target="_blank" ng-if="bug.url" ng-href="{{ bug.url }}">
                {{ bug.url.split('http://projects.theforeman.org/issues/')[1] }}
              </a>
            </td>
            <td><a ng-if="bug.url" ng-href="/dashboard/bugzilla/{{ bug.id }}"><i class="fa fa-copy"></i></a></td>
            <td>{{ bug.status }}</td>
            <td>{{ bug.summary }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row col-xs-6 col-xs-offset-1"> 
      <h2>My PR's</h2>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Repo</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="pullRequest in dashboard.pullRequests | orderBy:'repo'">
            <td><a target="_blank" ng-href="{{ pullRequest.url }}">{{ pullRequest.id }}</a></td>
            <td>{{ pullRequest.title }}</td>
            <td>{{ pullRequest.repo }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </section>

</div>
