<div class="fluid-container table-container">

  <div class="row">
    <h2 class="col-sm-12">Reviews</h2>
  </div>

  <section class="well">
    <label><input type="checkbox" ng-model="reviews.showAll"/>Show PRs that Don't Need Review</label>
  </section>

  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-default" style="float:right; margin-bottom: 20px" ng-click="reviews.refresh()">
        <span ng-show="reviews.refreshing"><i class="fa fa-spinner"></i>Refreshing Review Data...</span>
        <span ng-show="!reviews.refreshing">Refresh Review Data</span>
      </button>
      <span style="float:right;padding: 5px;">Last refreshed on: </span>
    </div>
  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Owner</th>
        <th>Repository</th>
        <th>Title</th>
        <th>Author</th>
        <th>Status</th>
        <th>Age (in days)</th>
        <th>Needs Review</th>
        <th>Reviewer</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="review in reviews.reviews | orderBy: '-age'" ng-class="{ 'disabled-row': !review.review }" ng-if="review.review || reviews.showAll">
        <td>{{ review.repo.split('/')[0] }}</td>
        <td>{{ review.repo.split('/')[1] }}</td>
        <td><a ng-href="https://github.com/theforeman/{{ review.repo }}/pull/{{ review._id }}">{{ review.title }}</a></td>
        <td>{{ review.author }}</td>
        <td>{{ review.status }}</td>
        <td>{{ review.age }}</td>
        <td>{{ review.review }}</td>
        <td>{{ review.reviewer }}</td>
      </tr>
    </tbody>
  </table>

</div>
