.table-container {
  margin: 20px;
}

p {
  white-space: pre-wrap;
}

label {
 margin-right: 8px;
}

.nav-tabs {
  margin-bottom: 30px;
}

a {
  cursor: pointer;
}

.username {
  color: orange;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  display: block;
}

.fa .fa-spinner {
  margin-right: 8px;
}

.fa-copy {
  color: black;
  font-size: 1.5em;
}

.fa-compress {
  font-size: 1.5em;
}

.table > tbody > tr > td {
  vertical-align: middle;
  text-align: left;
}

.table .align-center {
  text-align: center;
}

.table .align-right {
  text-align: right;
}

.dashboard-widget {
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px;
  float: left;
  border-radius: 4px;
  height: 100%;
}

.dashboard-widget h3 {
  margin-top: 0;
}

.dashboard-widget .divider {
  background: #FBFBFB;
}

.fa {
  padding: 0 4px;
}
